@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply flex flex-col min-h-screen;
  }

  main {
    @apply flex-grow;
  }
  header {
    @apply w-full text-3xl text-center;
  }

  footer {
    @apply w-full text-lg text-center mt-auto py-4;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  .responsive-text {
    @apply w-full m-0 whitespace-nowrap overflow-hidden text-ellipsis;
    font-size: 3.5vw;
  }

  @screen md {
    .responsive-text {
      @apply text-[3vw] px-10;
    }
  }
}

/* global */

.section {
  @apply flex flex-col text-center p-4;
}

.section-header {
  @apply text-3xl;
}

/* # main page */

.main {
  @apply grid grid-cols-1 md:grid-cols-2 font-bold;
}

.list-styling > li {
  @apply h-6 hover:text-black; /* can have text appear only when hovered */
}

.list-styling > li:hover {
  @apply text-xl underline cursor-none;
}

/* people page */
.people-main {
  @apply flex flex-col text-center;
}

.people-header {
  @apply flex flex-row justify-center items-center space-x-4;
}

/* resume page */

.resume-header {
  @apply flex flex-col border-b-4 w-[98%];
}

.resume-main {
  @apply flex flex-col space-y-4 pb-8;
}

.resume-section {
  @apply w-full flex flex-col space-y-2 px-3 pb-2 border-b-4 border-gray-300;
}

.resume-section::after {
  content: "";
  @apply absolute bottom-0 left-0 right-0 h-px bg-gray-300 mx-[-1rem];
}

.resume-section h1 {
  @apply text-2xl font-bold;
}

.resume-section p {
  @apply ml-8;
}

.resume-experience-header {
  @apply flex flex-col md:flex-row w-[100%] justify-between items-center;
}

.resume-header-title {
  @apply flex flex-col text-center md:text-left md:space-x-1;
}

.resume-list-vertical-line {
  @apply flex flex-row flex-wrap justify-center;
}

.resume-list-vertical-line li {
  @apply flex items-center text-center;
}

.resume-list-vertical-line li:not(:last-child)::after {
  content: "|";
  @apply mx-2;
}

.resume-box-list {
  @apply flex flex-col items-center;
}

.resume-box-list h3 {
  @apply underline;
}

.resume-box-list p {
  @apply ml-0;
}

/* Carpe Diem page */

.carpe-main {
  @apply flex flex-col;
}

.carpe-main h1 {
  @apply text-lg;
}

/* hidden tiles */
.hidden-main {
  @apply grid grid-cols-4 overflow-scroll bg-black;
}

.hidden-box {
  @apply bg-black text-black w-full h-full text-center items-center
  hover:text-white hover:border-gray-600 hover:border-4 hover:rounded-lg;
}

.hidden-box ul {
  @apply text-sm space-y-3;
}

/* future page */

.future-main {
  @apply flex flex-col text-center px-5 pt-3;
}

.future-main h2 {
  @apply mb-1;
}

.future-main p {
  @apply mb-4;
}
